 .button  {
  background-color: red;
  border: black;
  color: white;
  padding: 17px 16px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid;
  display: block;
}
#pa{
  color: red;
}
body {
  background-color: yellow;
}
#dd{
 color: red;
}
 
